
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">修改密码</div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form tpl-form-border-br am-u-lg-6 am-u-md-9" data-am-validator> 
                            <div class="am-form-group">
                                <label for="user-name" class="am-form-label am-u-sm-3">原密码：</label>
                                <div class="am-u-sm-9">
                                    <input id="oldPassWord" type="password" class="tpl-form-input " minlength="6" placeholder="" required />
                                    <small class="am-text-danger">*请输入六位以上的密码</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">新密码：</label>
                                <div class="am-u-sm-9">
                                    <input type="password" class="tpl-form-input " id="password" placeholder="请输入密码" value="123456" minlength="6" required />
                                    <small class="am-text-danger">*请输入六位以上的密码</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">确认密码：</label>
                                <div class="am-u-sm-9">
                                    <input type="password" class="tpl-form-input " id="againPassword" placeholder="请再次输入密码" value="123456" required minlength="6" />
                                    <small class="am-text-danger">*请输入六位以上的密码</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button id="btnChangePassWord" type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#btnChangePassWord").click(function () {
            var oldPassword = $("#oldPassWord").val();
            var newPassword = $("#password").val();
            var againPassword = $("#againPassword").val();

            if (newPassword != againPassword) {
                alert("两次输入的密码不相同");
                $("#password").force();
            } else {
                $.ajaxPost({
                    url: '@Url.Content("~/UserManege/UserChangePassWord")',
                    data: noticeFileModel,
                    success: function (result) {
                        alert("密码修改成功!");
                        window.location.href = '@Url.Content("~/Login")';
                    }
                });
            }
        });
    });
</script>

